extends ../../layouts/layouts

block content
  main.container
    article.mi-articulo
      br
      h1 Oraciones Católicas
      br
      br
      ol.box-oraciones 
        li.oracion-item 
          a(href='/padreNuestro') Padre Nuestro
        li.oracion-item
          a(href='/aveMaria') Ave María
        li.oracion-item
          a(href='/gloriaPadre') Gloria al Padre
        li.oracion-item
          a(href='/credo') Credo
        li.oracion-item
          a(href='/angelus') Ángelus
        li.oracion-item
          a(href='/actosDeFe') Actos de Fe, Esperanza y Caridad
        li.oracion-item
          a(href='/oracionASanMiguel') Oración a San Miguel Arcángel
        li.oracion-item
          a(href='/oracionAlEspirituSanto') Oración al Espíritu Santo