extends ../../layouts/layouts

block content
  main.container-oraciones
    article.mi-articulo
      h1.titulo-entrada Padre Nuestro.
      article.padre-nuestro
      h2 Oración a Dios Padre.
      h3.
        En el nombre del Padre, del Hijo y del Espíritu Santo. Amén.
      figure 
        img(src="./img/padre-nuestro.jpg", alt="Credo" style="width:300px;")
      p.
        Padre nuestro que estás en los cielos,
        santificado sea tu nombre.
        Venga a nosotros tu reino.
        hágase su voluntad tanto en la tierra como en el cielo.       
        Danos hoy nuestro pan de cada día.
        Perdona nuestras ofensas,
        como también nosotros perdonamos a los que nos ofenden.
        No nos dejes caer en la tentación,
        y líbranos del mal. Amén.

      p.
        Te pido...
        (Tu petición aquí)

      p.
        Gracias por...
        (Tu agradecimiento aquí)