extends ../../layouts/layouts

block content
  h1.text-center.mt-5 Santoral Catolico
  main.container.santoral 
    .row
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/san_miguel_arcangel.jpg' alt='San Miguel Arcangel' style="width:315px; height:300px;")
          .card-body
            h5.card-title San Miguel Arcangel
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/santa_teresa_de_jesus.jpg' alt='Santa Teresa de Jesus' style="width:315px; height:300px;" )
          .card-body
            h5.card-title Santa Teresa de Jesus
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/san_juan_bautista.jpg' alt='San Juan Bautista' style="width:315px; height:300px;")
          .card-body
            h5.card-title San Juan Bautista
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/san_jose.jpg' alt='San Jose' style="width:315px; height:300px;")
          .card-body
            h5.card-title San Jose
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/divino_niño_jesus.jpg' alt='Divino Niño Jesus' style="width:315px; height:300px;")
          .card-body
            h5.card-title Divino Niño Jesus
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/santisimo_sacramento.jpg' alt='Santísimo Sacramento de la Eucaristía' style="width:315px; height:300px;")
          .card-body
            h5.card-title Satisimo Sacramento de la Eucaristia
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/san_pedro_apostol.jpg' alt='San Pedro Apostol' style="width:315px; height:300px;")
          .card-body
            h5.card-title San Pedro Apostol 
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/virgen_del_carmen.jpg' alt='Virgen del Carmen' style="width:315px; height:300px;")
          .card-body
            h5.card-title Virgen del Carmen
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/virgen_de_guadalupe.jpg' alt='Virgen de Guadalupe' style="width:315px; height:300px;")
          .card-body
            h5.card-title Virgen de Guadalupe
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .col-md-4.mb-4
        .card
          img.card-img-top.img-fluid.pt-3(src='./img/nuestra_sra_de_coromoto.jpg' alt='Nuestra Señora de Coromoto' style="width:315px; height:300px;")
          .card-body
            h5.card-title Nuestra Sra de Coromoto
            p.card-text
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
  footer.text-center.mt-4.mb-4  
    p &copy; 2025 Santoral Catolico. All rights reserved.
