extends ../../layouts/layouts

block content
  main.container-oraciones
    article.mi-articulo
      h1.titulo-entrada Ave María.
      article.ave-maria
      h2 Oración a la Virgen María.
      h4.
        En el nombre del Padre, del Hijo y del Espíritu Santo. Amén.
      figure 
        img(src="./img/ave-maria.jpg", alt="Credo" style="width:300px;")
      p.
        Dios te salve, María, llena eres de gracia,
        el Señor es contigo;
        bendita tú eres entre todas las mujeres,
        y bendito es el fruto de tu vientre, Jesús.
        Santa María, Madre de Dios,
        ruega por nosotros, pecadores,
        ahora y en la hora de nuestra muerte. Amén.

      p.
        Te pido...
        (Tu petición aquí)

      p.
        Gracias por...
        (Tu agradecimiento aquí)

       