extends ../../layouts/layouts

block content
  main.container-oraciones
    article.mi-articulo
      h1.titulo-entrada Gloria al Padre.
      article.gloria-padre
      h2 Oración al Padre Eterno.
      h4.
        En el nombre del Padre, del Hijo y del Espíritu Santo. Amén.
      figure 
        img(src="./img/gloria-padre.jpg", alt="Credo" style="width:300px;")
      p.
        Gloria al Padre, Gloria al Hijo, y Gloria al Espíritu Santo.
        Como era en el principio, ahora y siempre,
        por los siglos de los siglos. Amén.
      p.
        Te pido...
        (Tu petición aquí)
      p.
        Gracias por...
        (Tu agradecimiento aquí)